body {
    /* font-family: 'Open Sans Condensed'; */
    padding: 20px 40px;
    overflow-y: hidden;
    font-family: 'Akaya Kanadaka', cursive !important;
    font-size: 20px;
    overflow: scroll;
    overflow-x: hidden;

  }

  body::-webkit-scrollbar {
    width: 3px;
  }
  
a {
    text-decoration: none;
    color: black ;
  }



  
