body {
    /* font-family: 'Open Sans Condensed'; */
    padding: 20px 40px !important;
    font-family: 'Akaya Kanadaka', cursive !important;
    font-size: 20px ;
    overflow-y: scroll !important;
    overflow-x: hidden;

  }

  body::-webkit-scrollbar {
    width: 30px !important;
    color: #fff !important;
  }
  
a{
    text-decoration: none !important;
    color: black !important;
}



  
