body {
    /* font-family: 'Open Sans Condensed'; */
    padding: 20px 40px;
    overflow-y: hidden;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 20px;

  }
  
a {
    text-decoration: none;
    color: black;
  }

.main {
  background-color: grey;
  height: 700px;
}


  
